<nav>
  <a href="/" class="favicon">
    <img src="/assets/images/favicon-white.svg" height="40px" width="40px" alt="favicon-jf" />
  </a>
  <a href="/" id="myname" >Jake Fried </a>
  <div style="margin-right:42px;"></div>
  <a href="/"> Experience </a>
  <a href="/tech"> Tech </a>
  <a href="/photos"> Photos </a>
  <a href="/reviews"> Reviews </a>
  <a href="https://github.com/samouri"> GitHub </a>
</nav>

<style>
  body {
    font-family: monospace, sans-serif;
    background-color: #0a101e;
    color: #d7d7d7e0;
    max-width: 42rem;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 16px;
    border-bottom: #80838b solid 1px;
  }

  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      height: auto;
    }
    nav a {
      margin-bottom: 5px;
    }
    .favicon {
      display: none;
    }
  }

  @media only screen and (min-width: 601px) {
    nav {
      flex-direction: row;
      height: 40px;
    }
    nav a {
      display: flex;
      align-self: flex-end;
      padding-left: 20px;
    }
    #myname {
      align-self: flex-end;
    }
  }

  nav a:first-child {
    padding-left: 10px;
  }

  nav a {
    text-decoration: none;
    color: #7fa6fa;
  }

  #myname {
    color: white;
    display: flex;
    font-size: 1.25rem;
  }

  a:hover,
  #myname:hover {
    transition: 0.3s;
    color: #fa7fea;
  }

  .content {
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.5;
  }

  p img {
    display: flex;
    margin: 0 auto;
  }
</style>
